<%- include('./partials/head') %>
<body>
    <div class="container">
        <header class="row">
            <div class="col">
                <h1>Ant's Premier League Quiz</h1>
            </div>
        </header>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <% if (locals.successfulRegistration) { %>
                    <div class="alert alert-success" role="alert">
                        Account created successfully, you may login below.
                    </div>
                <% } %>
                <% if (locals.errorMessage) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= errorMessage %>
                    </div>
                <% } %>
                <div id="login-form"></div>
                <form action="/" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" value="<%= locals.username ? locals.username : '' %>" />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" />
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a href="/register">Register</a>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
<%- include('./partials/foot') %>