<%- include('./partials/head', {title: 'Register', loggedIn: false, section: 'register'}) %>
    <div class="container">
        <div class="row mb-3">
            <div class="col"></div>
            <div class="col-10"><h1>Register</h1></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-10">
                <% if (locals.errorMessage) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= errorMessage %>
                    </div>
                <% } %>
                <form action="" method="post">
                    <div class="mb-3 form-floating">
                        <input type="text" class="form-control" id="username" name="username" value="<%= locals.username ? locals.username : '' %>" placeholder="Username">
                        <label for="username" class="form-label">Username (What you will login with)</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input type="text" class="form-control" id="display_name" name="display_name" value="<%= locals.display_name ? locals.display_name : '' %>" placeholder="Display Name">
                        <label for="display_name" class="form-label">Display Name (How others will see you as)</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        <label for="password" class="form-label">Password</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
                        <label for="confirm_password" class="form-label">Confirm Password</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input type="email" class="form-control" id="email" name="email" value="<%= locals.email ? locals.email : '' %>" placeholder="Email">
                        <label for="email" class="form-label">Email</label>
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
<%- include('./partials/foot') %>